<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary" href="/">Shree-Ganesha</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
            <!-- Ensure search bar looks app-like -->
            <form class="d-flex mx-md-auto my-2 my-md-0 w-100" style="max-width: 400px;">
                <input class="form-control me-2 rounded-pill bg-light border-0" type="search" placeholder="Search for products, brands and more" aria-label="Search">
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <!-- Hide these on mobile since they are in the bottom nav -->
                <li class="nav-item d-none d-md-block"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item d-none d-md-block"><a class="nav-link" href="/categories">Categories</a></li>
                <li class="nav-item d-none d-md-block"><a class="nav-link" href="/cart">Cart</a></li>
                <li class="nav-item d-none d-md-block"><a class="nav-link" href="/profile">Profile</a></li>
            </ul>
        </div>
    </div>
</nav>
